language: node_js

node_js:
    - node
    - 12

os:
    - linux
    - windows

matrix:
    allow_failures:
        - os: osx
        - node_js: node

before_script:
    - npm install

    
cache:
    npm: false
